.root {
  display: flex;
  flex-direction: column;
  padding: 8px;
  background-color: var(--tg-theme-bg-color);
  border-radius: 16px;

  .image {
    display: flex;
    justify-content: center;

    img {
      width: 70px;
      height: auto;
    }
  }
  .description {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    color: var(--tg-theme-text-color);
  }
  .price {
    padding: 4px 0;
    font-weight: 600;
  }
  .name {
    white-space: nowrap;
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 16px;
    font-size: 12px;
  }
  .options {
    font-size: 12px;
    padding-bottom: 16px;
  }
  .actions {
    display: flex;
    align-items: center;
  }
}
