:root {
  --tg-theme-bg-color: #18222d;
  --tg-theme-accent-text-color: #2ea6ff;
  --tg-theme-secondary-bg-color: #131415;
  --tg-theme-text-color: #ffffff;
  --tg-theme-button-color: #2ea6ff;
  --button-secondary: #313d49;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--tg-theme-text-color);
  background-color: var(--tg-theme-secondary-bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  height: 100vh;
  overflow-x: hidden;
}

a {
  all: unset;
}

button {
  all: unset;
}

/* .dark-theme {
  --button-secondary: #313d49;
} */

@media (prefers-color-scheme: light) {
  :root {
    /* color: var(--tg-theme-text-color);
    background-color: var(--tg-theme-bg-color); */
    --button-secondary: #eceef0;
  }
}
