.root {
  border-radius: 12px;
  background-color: transparent;
  padding: 12px 16px;
  font-size: 12px;
  color: var(--tg-theme-text-color);
  cursor: pointer;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */

  &.active {
    background-color: var(--tg-theme-bg-color);
    color: var(--tg-theme-text-color);
  }
}

/* color: var(--tg-theme-text-color);
background-color: var(--tg-theme-secondary-bg-color); */

@keyframes skeleton-loading {
  0% {
    background-color: var(--tg-theme-bg-color);
  }
  50% {
    background-color: var(--tg-theme-secondary-bg-color);
  }
  100% {
    background-color: var(--tg-theme-bg-color);
  }
}

.skeleton {
  width: 70px;
  height: 40px;
  border-radius: 12px;
  background-color: var(--tg-theme-bg-color);

  animation: skeleton-loading 3s infinite ease-out;
}
