.root {
  all: unset;

  border-radius: 12px;
  text-align: center;
  width: 100%;

  &.primary {
    background-color: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
  }

  &.secondary {
    background-color: var(--button-secondary);
    color: var(--tg-theme-text-color);
  }

  &.size-lg {
    height: 50px;
  }

  &.size-md {
    height: 36px;
  }
}
