.root {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.count {
  min-width: 50px;
  font-weight: 600;
  padding: 0 12px;
  text-align: center;
}

.counterButton {
  box-sizing: border-box;
  width: 36px;

  &.fulled {
    width: 100%;
  }
}
