.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  background-color: var(--button-secondary);
  border-radius: 12px;
}

.count {
  min-width: 50px;
  font-weight: 600;
  padding: 0 12px;
  text-align: center;
}

.counterButton {
  box-sizing: border-box;
  width: 36px;

  background-color: transparent !important;

  &.fulled {
    width: 100%;
  }
}
