.selectContainer {
  position: relative;
}

.selectTrigger {
  /* position: relative; */
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 20px;
  width: calc(100% - 16px * 2);
  border-radius: 8px;
  background-color: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
  fill: var(--tg-theme-text-color);

  &:not(.error):hover {
    outline: 1px solid blue;
  }

  &.error {
    border-color: red;
  }
}

.selectTrigger[data-placeholder] {
  color: var(--tg-theme-text-color);
}

.selectIcon {
  color: var(--tg-theme-text-color);
}

.selectContent {
  width: var(--radix-select-trigger-width);
  overflow: hidden;
  background-color: var(--tg-theme-bg-color);
  border-radius: 8px;
}

.selectViewport {
  padding: 8px;
}

.selectItem {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 14px;
  color: var(--tg-theme-text-color);
  padding: 8px 12px;
  border-radius: 4px;
  position: relative;
  user-select: none;

  &[data-disabled] {
    color: var(--tg-theme-text-color);
    pointer-events: none;
  }

  &[data-highlighted] {
    outline: none;
    background-color: var(--tg-theme-secondary-bg-color);
    cursor: pointer;
    color: var(--tg-theme-text-color);
  }

  &:hover {
    outline: none;
    background-color: var(--tg-theme-secondary-bg-color);
    cursor: pointer;
    color: var(--tg-theme-text-color);
  }
}

.helperText {
  display: inline-block;
  padding-top: 2px;
  font-size: 12px;

  &.error {
    color: red;
  }
}

.label {
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
  font-size: 16px;
  pointer-events: none;
  transition: top 0.3s, font-size 0.3s, color 0.3s;
}

.selectTrigger:focus + label,
.selectTrigger.focused + label {
  top: 12px;
  left: 18px;
  font-size: 12px;
  color: #8e8e93;
}
