.categories {
  display: flex;
  gap: 12px;
  margin: 12px 0 24px 0;
  width: 100vw;
  overflow-x: hidden;
  /* scroll-snap-type: x proximity; */
  /* scroll-snap-align: start; */
  scroll-behavior: smooth;
  /* overflow-x: scroll; */
  /* scroll-snap-type: x mandatory; */
  /* pointer-events: none; */
  /* border: 1px solid red; */
}

.productItems {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}
