.categories {
  display: flex;
  gap: 12px;
  margin: 24px 0 24px 0;
  width: 100vw;
  overflow-x: hidden;
  touch-action: none;
}

.productItems {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}
